.app-header {
    margin: 0px auto 10px auto;
    background-color: yellow;
}

.name {
    margin: 20px auto 10px auto;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.search {
    width: 450px;
    margin: 0px auto 10px auto;
}
