.ad-one-new-window img {
    width: 600px;
    height: 400px;
    border: 1px solid black;
}

.ad-one-new-window-grid {
    display: grid;
    grid-template-columns: 40% 60%;
}

.ad-one-new-window-grid h1 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.ad-one-new-window-grid h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.ad-one-new-window-grid p {
    margin-top: 80px;
    font-size: 25px;
}