.add-form {
    border: 1px solid black;
    max-height: 330px;
}

.add-form textarea {
    margin-left: 5px;
    margin-right: 5px;
    max-width: 210px;
    min-width: 210px;
    max-height: 100px;
    min-height: 100px;
}