.ad-one {
    border: 1px solid black;
    border-radius: 15px;
    height: 275px;
    background-color: aliceblue;
}

.ad-one img {
    width: 80%;
    height: 40%;
    margin-top: 5px;
    border: 1px solid black;
}

.ad-one a {
    color: black;
    text-decoration: none;
}

